<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Inbox</title>
  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />

  <!-- Custom CSS -->
  <style>
    html {
      overflow: hidden;
    }

    .sidebar {
      background-color: #343a40;
      color: white;
      height: 100vh;
      padding-top: 3rem;
    }

    .content {
      padding: 20px;
    }

    body {
      background-color: #f4f7f6;
    }

    .card {
      background: #fff;
      transition: 0.5s;
      border: 0;
      margin-bottom: 30px;
      border-radius: 0.55rem;
      position: relative;
      width: 100%;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }

    .chat-app .people-list {
      width: 280px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 20px;
      z-index: 7;
    }

    .chat-app .chat {
      margin-left: 280px;
      border-left: 1px solid #eaeaea;
    }

    .people-list {
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    .people-list .chat-list li {
      padding: 10px 15px;
      list-style: none;
      border-radius: 3px;
    }

    .people-list .chat-list li:hover {
      background: #efefef;
      cursor: pointer;
    }

    .people-list .chat-list li.active {
      background: #efefef;
    }

    .people-list .chat-list li .name {
      font-size: 15px;
    }

    .people-list .chat-list img {
      width: 45px;
      border-radius: 50%;
    }

    .people-list img {
      float: left;
      border-radius: 50%;
    }

    .people-list .about {
      float: left;
      padding-left: 8px;
    }

    .people-list .status {
      color: #999;
      font-size: 13px;
    }

    .chat .chat-header {
      padding: 15px 20px;
      border-bottom: 2px solid #f4f7f6;
    }

    .chat .chat-header img {
      float: left;
      border-radius: 40px;
      width: 40px;
    }

    .chat .chat-header .chat-about {
      float: left;
      padding-left: 10px;
    }

    .chat .chat-history {
      padding: 20px;
      border-bottom: 2px solid #fff;
    }

    .chat .chat-history ul {
      padding: 0;
    }

    .chat .chat-history ul li {
      list-style: none;
      margin-bottom: 30px;
    }

    .chat .chat-history ul li:last-child {
      margin-bottom: 0px;
    }

    .chat .chat-history .message-data {
      margin-bottom: 15px;
    }

    .chat .chat-history .message-data img {
      border-radius: 40px;
      width: 40px;
    }

    .chat .chat-history .message-data-time {
      color: #434651;
      padding-left: 6px;
    }

    .chat .chat-history .message {
      color: #444;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      display: inline-block;
      position: relative;
    }

    .chat .chat-history .my-message {
      background: #efefef;
    }

    .chat .chat-history .other-message {
      background: #e8f1f3;
      text-align: right;
    }

    .chat .chat-history .other-message:after {
      border-bottom-color: #e8f1f3;
      left: 93%;
    }

    .chat .chat-message {
      padding: 20px;
    }

    .online,
    .offline,
    .me {
      margin-right: 2px;
      font-size: 8px;
      vertical-align: middle;
    }

    .online {
      color: #86c541;
    }

    .offline {
      color: #e47297;
    }

    .me {
      color: #1d8ecd;
    }

    .float-right {
      float: right;
    }

    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .clearfix {
      list-style: none;
    }

    @media only screen and (max-width: 767px) {
      .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none;
      }

      .chat-app .people-list.open {
        left: 0;
      }

      .chat-app .chat {
        margin: 0;
      }

      .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;
      }

      .chat-app .chat-history {
        height: 300px;
        overflow-x: auto;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .chat-app .chat-list {
        height: 650px;
        overflow-x: auto;
      }

      .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .chat-app .chat-list {
        height: 480px;
        overflow-x: auto;
      }

      .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto;
      }
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/admin"> Dashboard </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/inbox"> Message </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="content">
          <div class="container">
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card chat-app" style="height: 542px;">
                  <div id="plist" class="people-list">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search..." />
                    </div>

                    <!-- users list -->
                    <ul class="list-unstyled chat-list mt-2 mb-0" style="overflow: hidden" id="users">
                      <% for( let i=0; i < users.length; i++ ) { %>
                        <% if (!users[i].role) { %>
                          <li class="clearfix user" data-id="<%= users[i].id %>">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" />
                            <div class="about">
                              <div class="name">
                                <%= users[i].name %>
                              </div>
                              <div class="status">
                                <i class="fa fa-circle offline"></i> left 7 mins
                                ago
                              </div>
                            </div>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                    <!-- users list end -->
                  </div>
                  <div class="chat">
                    <div class="chat-header clearfix">
                      <div class="row">
                        <div class="col-lg-6" id="d-flex align-items-center">
                          <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" />
                          </a>
                          <div class="chat-about">
                            <h6 id="selected-user" class="m-b-0 mt-2">Aiden Chavez</h6>
                            <!-- <small>Last seen: 2 hours ago</small> -->
                          </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                          <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                              class="fa fa-camera"></i></a>
                          <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                          <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                          <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                              class="fa fa-question"></i></a>
                        </div>
                      </div>
                    </div>

                    <!-- chat box start from here -->
                    <div id="messages" class="chat-history" style="overflow: auto; height: 381px">

                    </div>
                    <!-- chat box ends here -->

                    <!-- message input -->
                    <div class="chat-message clearfix">
                      <form action="" method="post" class="input-group mb-0" id="form">
                        <!-- input field -->
                        <input autocomplete="false" type="text" class="form-control" placeholder="Enter text here..."
                          id="input"></input>
                        <button type="submit" class="input-group-prepend">
                          <span class="input-group-text" style="outline: none"><i class="fa fa-send"></i></span>
                        </button>
                      </form>
                    </div>
                    <!-- message input ends -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    var user_id;
    var messages = document.getElementById("messages");
    var form = document.getElementById("form");
    var input = document.getElementById("input");


    $(document).ready(function () {
      $('.chat-about').hide()
    })

    // sending message to user with user_id
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      if (user_id) {
        if (input.value) {
          const message = input.value;
          // store message
          $.ajax({
            url: "/store-message",
            type: "POST",
            dataType: "JSON",
            data: {
              client_user_id: user_id,
              message: message,
              role: "admin"
            },
            success: function (res) {
              if (res.error) {
                alert('Something went wrong!')
              }
            }
          })

          // emit
          socket.emit("admin-message", {
            user_id_from_admin: user_id,
            message,
          });

          // printing admin's own message
          $('#messages').append(
            `<li class="clearfix mb-2">
              <div class="message other-message float-right">${message}</div>
             </li>
            `
          )
          messages.scrollTop = messages.scrollHeight;

          input.value = "";
        }
      } else {
        return false;
      }
    }); //

    // listen clients message
    socket.on("client-message", function ({
      user_id_from_client,
      message
    }) {
      if (user_id == user_id_from_client) {
        $('#messages').append(
          ` <li class="clearfix mb-2">
              <div class="message my-message">${message}</div>
            </li>
          `
        )
        messages.scrollTop = messages.scrollHeight;
      }
    });

    $(".user").click(function () {
      user_id = $(this).data("id");
      $('#messages').html('')
      $('.chat-about').show()
      const userName = this.children[1].children[0].childNodes[0].data

      $('#selected-user').text(userName)
      $.ajax({
        url: "/get-old-chat",
        dataType: "JSON",
        data: {
          client_user_id: user_id
        },
        success: function (res) {
          const old_chats = res.result;
          old_chats.forEach((element) => {
            if (element.role == "admin") {
              $('#messages').append(
                ` <li class="clearfix mb-2">
                    <div class="message other-message float-right">${element.message}</div>
                  </li>
              `
              )
            } else {
              $('#messages').append(
                ` <li class="clearfix mb-2">
                    <div class="message my-message">${element.message}</div>
                  </li>
              `
              )
            }
            messages.scrollTop = messages.scrollHeight;
          });
        }
      })
    })



  </script>
</body>

</html>